@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity"  asp-controller="Manage" asp-action="Index" title="Manage">
                    <i class="far fa-user"></i>
                    @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button title="Đăng xuất" type="submit" class="btn btn-link navbar-btn navbar-link text-light">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li class="nav-item">
            <a title="Đăng nhập" class="nav-link text-light" asp-area="Identity" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </li>
    </ul>
}