<div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#"
        id="managedropdownmenu" data-toggle="dropdown">
        Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
            Database
        </a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">
            Quản lý liên hệ
        </a>        
    </div>
</div>
