@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if (result.Succeeded)
{
    <a class="nav-link text-light" asp-action="Index" asp-controller="AdminCP" asp-area="AdminCP">
        <i class="fas fa-cog"></i>  Quản trị
    </a>
}
