@model App.Models.Product.ProductModel
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Xóa sản phẩm";
    Layout =  "/Views/Shared/_LayoutAdmin.cshtml";    
}

<p>Có chắc chắn xóa sản phẩm?</p>
<h4>@Model.Title</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách sản phẩm</a>
    </form>
</div>


@{
    _AdminSidebarService.SetActive("ProductManage", "Index", "Product");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}
