@{
    ViewData["Title"] = "Xác thực email";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Bạn đã hoàn thành xác thực email. 
        Hãy <a asp-controller="Account" asp-action="Login">bấm vào đây để đăng nhập</a>.
    </p>
</div>
