@{
    ViewData["Title"] = "Đặt lại mặt khẩu";
}

<h1>@ViewData["Title"].</h1>
<p>
    Bạn đã đặt lại mật khẩu, 
    <a asp-controller="Account" asp-action="Login">
        bấm vào đây để đăng nhập
    </a>
</p>
