@model SendCodeViewModel
@{
    ViewData["Title"] = "Gửi mã xác thực";
}

<h1>@ViewData["Title"].</h1>

<form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" role="form">
    <input asp-for="RememberMe" type="hidden" />
    <div class="row">
        <div class="col-md-8">
            Mã xác thực gửi tới:
            <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
            <button type="submit" class="btn btn-success btn-sm">Gửi</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
