@inject App.Services.PlanetService planetService
<h1>Các hành tinh trong hệ mật trời</h1>

<div class="list-group">
    @foreach (var planet in planetService)
    {
        <a class="list-group-item list-group-item-action" asp-action="@planet.Name">
          @planet.VnName - @planet.Name
        </a>
    }
</div>

