@model App.Models.ProductModel

<div class="card bg-danger text-white">
    <h1 class="card-header">@Model.Name</h1>
    <div class="card-body">
      <p class="card-text">
          Giá: @Model.Price
      </p>
    </div>
</div>