$contactBackground: #9854a0;
.contact-firstcol  
{
     background-color: $contactBackground;
     color: white;
     text-align: center;

     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;

     h4 {
        line-height: 40px;
        font-weight: 400;
        margin-top: 20px;
     }

     img {
       max-width: 100px;
     }

}
.formcontact 
{
    label {
       font-weight: 700;
    }
    .btn-primary 
    {
      background-color: $contactBackground !important;
      border-color: $contactBackground;
    }
}