
.app-navbar {
  background: rgba(0,0,0, 0.8);
  .text-dark {
     color: #b9c3ce !important;
     &:hover {
        color: white !important;
     }
  }
  .navbar-brand {
    color: #a57dea;
    &:hover {
      color: #d727da !important;
   }
  }
  .dropdown-toggle {
     border-color: #a562ad;
     color: #ae84b3;
  }
}