
.app-navbar {
  background: #122153;
  .text-dark {
     color: #b9c3ce !important;
     &:hover {
        color: white !important;
     }
  }
  .navbar-brand {
    color: white;
    &:hover {
      color: #888188 !important;
   }
  }
  .dropdown-toggle {
     border-color: transparent !important;
     color: white;
  }
}

.categorysidebar {
   ul, li {
      list-style: none;
      padding-left: 10px;
   }
   a {
      text-decoration: none;
      &:hover {
         color: #a04747;
      }
      &.active {color: red;}
   }
   >ul>li>a {font-weight:bold}

   h3 {
      text-transform: uppercase;
      font-size: 1.3em;
      border-bottom: 1px solid blue;
      padding-bottom: 10px;
   }
}