body {
  background: #fff;
  color: #1d1d1f;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

.app-navbar {
  background: #122153;
}
.app-navbar .text-dark {
  color: #b9c3ce !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: white;
}
.app-navbar .navbar-brand:hover {
  color: #888188 !important;
}
.app-navbar .dropdown-toggle {
  border-color: transparent !important;
  color: white;
}

.categorysidebar ul, .categorysidebar li {
  list-style: none;
  padding-left: 10px;
}
.categorysidebar a {
  text-decoration: none;
}
.categorysidebar a:hover {
  color: #a04747;
}
.categorysidebar a.active {
  color: red;
}
.categorysidebar > ul > li > a {
  font-weight: bold;
}
.categorysidebar h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid blue;
  padding-bottom: 10px;
}

.contact-firstcol {
  background-color: #1b3896;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  max-width: 100px;
}

.formcontact label {
  font-weight: 700;
}
.formcontact .btn-primary {
  background-color: #1b3896 !important;
  border-color: #1b3896;
}

.app-footer {
  background: #080A10;
  color: white;
  text-align: center;
}

.detailpost h1 {
  font-weight: 300;
}
.detailpost .sapo {
  font-weight: 500;
  font-style: italic;
}
.detailpost img {
  max-width: 100%;
}

.photodetail {
  position: relative;
}
.photodetail span {
  position: absolute;
  bottom: 50%;
  left: 50%;
  display: none;
}
.photodetail:hover span {
  display: block;
}