@model App.Models.Blog.Category

@{
    ViewData["Title"] = "Xóa chuyên mục";
}

<h1>@ViewData["Title"]</h1>

<h3>Có chắc chắn xóa?</h3>
<div>

    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách chuyên mục Blog</a>
    </form>
</div>
