@model App.Models.Blog.Post
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Xóa bài viết";
    Layout =  "/Views/Shared/_LayoutAdmin.cshtml";
}

<p>Có chắc chắn xóa bài viết?</p>
<h4>@Model.Title</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách bài viết</a>
    </form>
</div>

@{
    _AdminSidebarService.SetActive("Post", "Index", "Blog");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}
