@model AppMvc.Areas.Blog.Models.CreatePostModel
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Cập nhật bài viết";
    var list = ViewData["categories"] as MultiSelectList;
    Layout =  "/Views/Shared/_LayoutAdmin.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
             <input type="hidden" asp-for="PostId" />
             <div class="form-group">
                <label asp-for="CategoryIDs" class="control-label"></label>
                <select asp-for="CategoryIDs" multiple="multiple" asp-items="list" class="w-100"></select>
                <span asp-validation-for="CategoryIDs" class="text-danger"></span>
            </div>        

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách bài viết</a>
</div>


@section Scripts {

    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

    <script>
        $("#CategoryIDs").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false,
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}


@{
    var summernote  = new App.Models.Summernote("#Content") {
        height = 500
    };
}
<partial name="_Summernote" model="summernote" />

@{
    _AdminSidebarService.SetActive("Post", "Index", "Blog");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}